streamlit
langchain
pytz
langchain-community
faiss-cpu
sentence-transformers
python-dotenv
langchain-google-genai
gTTS
playsound
python-vlc
langchain-groq
beautifulsoup4
requests
transformers
google-generativeai
groq
fastapi
uvicorn
sentencepiece
